data/raw_dat/*
data/preprocessed_dat/*
data/cancer_drug_response-master/*
code/*.ipynb
code/.idea/*
code/.ipynb_checkpoints/*
code/__pycache__/*
code/results/*
*.ipynb
*.xlsx
paper/*
code/model_save/*/*/*.csv
