code/.idea/*
code/.ipynb_checkpoints/*
code/__pycache__/*
code/results/*
*.ipynb
*.xlsx
paper/*
results/*
code/main.py
code/benchmark_main.py
code/run.log
code/model_save/*
code/to_oceancode/*
data/*
*.log

